{% extends "_base.html" %} {% block title %}Home{% endblock %} {% block head %}
{{ super() }} {% endblock %} {% block content %}
<div class="services">
  <div class="service-row">
    <div class="service">
      <img src="/static/img/pinrotate.png" />
      <h3>PinRotate</h3>
      <h4>● Online</h4>
    </div>
    <div class="service">
      <img src="/static/img/todo.png" />
      <h3>ToDo</h3>
      <h4>● Online</h4>
    </div>
    <div class="service">
      <img src="/static/img/autopublish.png" />
      <h3>AutoPublish</h3>
      <h4>● Online</h4>
    </div>
  </div>
  <div class="service-row">
    <div class="service">
      <img src="/static/img/threadpersist.png" />
      <h3>ThreadPersist</h3>
      <h4>● Online</h4>
    </div>
    <div class="service">
      <img src="/static/img/cleanleave.png" />
      <h3>CleanLeave</h3>
      <h4>● Online</h4>
    </div>
    <div class="service">
      <img src="/static/img/starpins.png" />
      <h3>StarPins</h3>
      <h4>● Online</h4>
    </div>
  </div>
</div>
{% endblock %}
