$col-bg-1: #1e1e1e;
$col-bg-2: #2c2c2c;

:root {
  background-color: $col-bg-1;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

nav {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $col-bg-2;
  color: #fff;

  img {
    height: 2.25rem;
    border-radius: 100%;
  }

  .odb-logo {
    margin-left: 1rem;
  }

  .nav-title {
    margin-left: 1rem;
  }

  .nav-filler {
    flex-grow: 1;
  }

  .user {
    margin-right: 1rem;
  }

  .user-avatar {
    margin-right: 1rem;
  }
}

.container {
  color: #fff;
}
